extends layout

block content
  .container
    .jumbotron
      h1= title
      p Welcome to #{title}
    img(src="img/scaled/green_car.png", width="250")
    br
    img(src="img/scaled/tur_car.png", width="250")
    br
    img(src="img/scaled/yellow_car.png", width="250")
    br
    img(src="img/scaled/red_car.png", width="250")
